<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springBean" class="com.naruto.bean.SpringBean"></bean>

    <bean id="springBeanConstructor" class="com.naruto.bean.SpringBeanConstructor">
        <constructor-arg ref="springBean"/>
    </bean>

    <bean id="springBeanAttribute" class="com.naruto.bean.SpringBeanAttribute">
        <property name="springBean" ref="springBean"/>
    </bean>

</beans>